.recipe-list {
  margin-top: 20px;
}

.recipe-columns {
  display: flex;
  flex-wrap: wrap;
}

.recipe-item {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.recipe-item h5 {
  height: 30px;
  margin-bottom: 10px;
}

.recipe-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.recipe-item p {
  margin-left: 5px;
  margin-top: 2px;
}

